In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
from functools import partial

In [5]:
from dotenv import load_dotenv

from pathlib import Path

env_path = Path("../../.env-live")

if env_path.exists():
    print('envs Loaded')
    load_dotenv(dotenv_path=env_path)
from jrjModelRegistry.jrjModelRegistry import registerAJrjModel

envs Loaded
Pinged your deployment. You successfully connected to MongoDB!

In [6]:
def generalRegressionPredictor(self, transformedData):
    return self.predict(transformedData)

In [7]:
sallaryMisDf = pd.read_excel("https://www.dropbox.com/scl/fi/zt2vtwhpz8ndblsxqdqx1/Salary_MIS.xlsx?rlkey=2uk6m7m9w90isv6zsynhhhpyv&st=gxumjns5&dl=1")

In [8]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [9]:
sallaryMisDf.shape

(120, 4)

In [10]:
sallaryMisDf.describe()

           Salary         GPA         MIS  Statistics
count  120.000000  120.000000  120.000000  120.000000
mean    69.875000    3.242750    0.316667    0.341667
std      6.594577    0.493834    0.467127    0.476257
min     53.000000    2.410000    0.000000    0.000000
25%     65.750000    2.805000    0.000000    0.000000
50%     70.000000    3.280000    0.000000    0.000000
75%     73.250000    3.692500    1.000000    1.000000
max     88.000000    3.980000    1.000000    1.000000

In [11]:
sallaryMisDf.shape

(120, 4)

In [12]:
def salaryRegModel1Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics']],has_constant='add')
    return dfTransformer

In [13]:
sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])

     const   GPA  MIS  Statistics
0      1.0  3.53    1           0
1      1.0  2.86    1           0
2      1.0  3.69    0           0
3      1.0  3.24    0           0
4      1.0  3.21    0           0
..     ...   ...  ...         ...
115    1.0  3.27    0           0
116    1.0  2.86    1           0
117    1.0  3.04    1           1
118    1.0  2.99    0           0
119    1.0  3.65    0           0

[120 rows x 4 columns]

In [14]:
salaryRegModel1Transformer(sallaryMisDf)

     const   GPA  MIS  Statistics
0      1.0  3.53    1           0
1      1.0  2.86    1           0
2      1.0  3.69    0           0
3      1.0  3.24    0           0
4      1.0  3.21    0           0
..     ...   ...  ...         ...
115    1.0  3.27    0           0
116    1.0  2.86    1           0
117    1.0  3.04    1           1
118    1.0  2.99    0           0
119    1.0  3.65    0           0

[120 rows x 4 columns]

In [15]:
# salaryRegModel1 = sm.OLS(
#   sallaryMisDf["Salary"],
#   sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])
# )

In [16]:
salaryRegModel1 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel1Transformer(sallaryMisDf)
)

In [17]:
    salaryRegModel1Fit = salaryRegModel1.fit()

In [18]:
print(salaryRegModel1Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     150.3
Date:                Wed, 11 Jun 2025   Prob (F-statistic):           8.35e-40
Time:                        09:52:25   Log-Likelihood:                -300.92
No. Observations:                 120   AIC:                             609.8
Df Residuals:                     116   BIC:                             621.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.0072      1.860     23.662      0.000      40.324      47.691
GPA            6.6227      0.569     11.649      0.000       5.497       7.749
MIS            6.6071      0.595     11.098      0.000       5.428       7.786
Statistics     6.7309      0.591     11.391      0.000       5.561       7.901
==============================================================================
Omnibus:                        1.144   Durbin-Watson:                   2.164
Prob(Omnibus):                  0.564   Jarque-Bera (JB):                0.758
Skew:                          -0.172   Prob(JB):                        0.685
Kurtosis:                       3.182   Cond. No.                         24.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [20]:
salaryRegModel1SampleData = {
    "GPA": [3.53],
    "MIS": [1],
    "Statistics": [0]
}

In [21]:
salaryRegModel1Fit.transformer = salaryRegModel1Transformer

In [22]:
test1 = salaryRegModel1Fit.transformer(salaryRegModel1SampleData)
test1
# salaryRegModel1Fit.mainPredictor(test1)

   const   GPA  MIS  Statistics
0    1.0  3.53    1           0

In [23]:
# def generalRegressionPredictor(self, transformedData):
#     return self.predict(transformedData)

In [24]:
salaryRegModel1Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel1Fit)

In [25]:
salaryRegModel1Fit.mainPredictor(test1)

0    73.992468
dtype: float64

In [30]:
salaryRegModel1FitMetadata = {
    "modelName":f"taoyu_ma__salaryRegModel1Fit",
    "version":"1.0.1",
    "params": salaryRegModel1Fit.params.to_dict(),
    "score": float(salaryRegModel1Fit.rsquared),
    "modelLibraray": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel1Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel1Fit.rsquared),
        "adj_r_squared": float(salaryRegModel1Fit.rsquared_adj)
    },

    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    }
}
salaryRegModel1FitMetadata

{'modelName': 'salaryRegModel1Fit',
 'version': '1.0.1',
 'params': {'const': 44.00724634057489,
  'GPA': 6.62270615035616,
  'MIS': 6.607068893822084,
  'Statistics': 6.730931143358017},
 'score': 0.7953924097617404,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 3.2704010980896227e-46,
   'GPA': 3.077793077406486e-21,
   'MIS': 6.058766938187377e-20,
   'Statistics': 1.2379781357348497e-20},
  'r_squared': 0.7953924097617404,
  'adj_r_squared': 0.7901008341521303},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}}}

In [31]:
registerAJrjModel(salaryRegModel1Fit, salaryRegModel1FitMetadata)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModel1Fit__1.0.1.pkl.zip

{'_id': '68498a50c6d739c7047baeea',
 'modelName': 'salaryRegModel1Fit',
 'version': '1.0.1',
 'params': {'const': 44.00724634057489,
  'GPA': 6.62270615035616,
  'MIS': 6.607068893822084,
  'Statistics': 6.730931143358017},
 'score': 0.7953924097617404,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 3.2704010980896227e-46,
   'GPA': 3.077793077406486e-21,
   'MIS': 6.058766938187377e-20,
   'Statistics': 1.2379781357348497e-20},
  'r_squared': 0.7953924097617404,
  'adj_r_squared': 0.7901008341521303},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 20826,
 'zippedModelSizeBytes': 8090,
 's3Url': 'jasonjafariml/salaryRegModel1Fit__1.0.1.pkl.zip',
 'createdAt': '2025-06-11T13:53:20.506Z',
 'updatedAt': '2025-06-11T13:53:20.506Z'}

In [32]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [33]:
# sallaryMisDf["misXStatistics"] = sallaryMisDf["MIS"] * sallaryMisDf["Statistics"]
sallaryMisDf['misXStatistics'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)

sallaryMisDf

     Salary   GPA  MIS  Statistics  misXStatistics
0        72  3.53    1           0             0.0
1        66  2.86    1           0             0.0
2        72  3.69    0           0             0.0
3        63  3.24    0           0             0.0
4        65  3.21    0           0             0.0
..      ...   ...  ...         ...             ...
115      66  3.27    0           0             0.0
116      63  2.86    1           0             0.0
117      78  3.04    1           1             1.0
118      64  2.99    0           0             0.0
119      66  3.65    0           0             0.0

[120 rows x 5 columns]

In [34]:
def salaryRegModel2Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXStatistics'] = df.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXStatistics']],has_constant='add')
    return dfTransformer

In [35]:
salaryRegModel2Transformer(sallaryMisDf)

     const   GPA  MIS  Statistics  misXStatistics
0      1.0  3.53    1           0             0.0
1      1.0  2.86    1           0             0.0
2      1.0  3.69    0           0             0.0
3      1.0  3.24    0           0             0.0
4      1.0  3.21    0           0             0.0
..     ...   ...  ...         ...             ...
115    1.0  3.27    0           0             0.0
116    1.0  2.86    1           0             0.0
117    1.0  3.04    1           1             1.0
118    1.0  2.99    0           0             0.0
119    1.0  3.65    0           0             0.0

[120 rows x 5 columns]

In [36]:
salaryRegModel2 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel2Transformer(sallaryMisDf)
)

In [37]:
salaryRegModel2Fit = salaryRegModel2.fit()

In [39]:
print(salaryRegModel2Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.810
Model:                            OLS   Adj. R-squared:                  0.803
Method:                 Least Squares   F-statistic:                     122.2
Date:                Wed, 11 Jun 2025   Prob (F-statistic):           1.87e-40
Time:                        10:06:45   Log-Likelihood:                -296.63
No. Observations:                 120   AIC:                             603.3
Df Residuals:                     115   BIC:                             617.2
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             44.0993      1.803     24.464      0.000      40.529      47.670
GPA                6.7109      0.552     12.162      0.000       5.618       7.804
MIS                5.3250      0.725      7.343      0.000       3.889       6.761
Statistics         5.5350      0.704      7.861      0.000       4.140       6.930
misXStatistics     3.4915      1.196      2.918      0.004       1.122       5.861
==============================================================================
Omnibus:                        0.396   Durbin-Watson:                   2.073
Prob(Omnibus):                  0.820   Jarque-Bera (JB):                0.109
Skew:                          -0.013   Prob(JB):                        0.947
Kurtosis:                       3.146   Cond. No.                         24.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
salaryRegModel2Fit.transformer = salaryRegModel2Transformer

In [41]:
salaryRegModel2Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel2Fit)

In [42]:
test2 = salaryRegModel2Fit.transformer(salaryRegModel1SampleData)
test2

   const   GPA  MIS  Statistics  misXStatistics
0    1.0  3.53    1           0             0.0

In [45]:
salaryRegModel2Fit.mainPredictor(test2)

0    73.113927
dtype: float64

In [46]:
salaryRegModel2FitMetadata = {
    "modelName":f"taoyu_ma__salaryRegModel2Fit",
    "version":"1.0.1",
    "params": salaryRegModel2Fit.params.to_dict(),
    "score": float(salaryRegModel2Fit.rsquared),
    "modelLibraray": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel2Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel2Fit.rsquared),
        "adj_r_squared": float(salaryRegModel2Fit.rsquared_adj)
    },

    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    }
}
salaryRegModel2FitMetadata

{'modelName': 'salaryRegModel2Fit',
 'version': '1.0.1',
 'params': {'const': 44.09932687151595,
  'GPA': 6.71092896850212,
  'MIS': 5.325020933077331,
  'Statistics': 5.534983950443611,
  'misXStatistics': 3.491456565315527},
 'score': 0.8095004820146132,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.1308984053354338e-47,
   'GPA': 2.206820882598934e-22,
   'MIS': 3.224529718282964e-11,
   'Statistics': 2.2590353916504234e-12,
   'misXStatistics': 0.00423393188469119},
  'r_squared': 0.8095004820146132,
  'adj_r_squared': 0.8028744118238171},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}}}

In [47]:
registerAJrjModel(salaryRegModel2Fit, salaryRegModel2FitMetadata)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModel2Fit__1.0.1.pkl.zip

{'_id': '68498d94c6d739c7047baeeb',
 'modelName': 'salaryRegModel2Fit',
 'version': '1.0.1',
 'params': {'const': 44.09932687151595,
  'GPA': 6.71092896850212,
  'MIS': 5.325020933077331,
  'Statistics': 5.534983950443611,
  'misXStatistics': 3.491456565315527},
 'score': 0.8095004820146132,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.1308984053354338e-47,
   'GPA': 2.206820882598934e-22,
   'MIS': 3.224529718282964e-11,
   'Statistics': 2.2590353916504234e-12,
   'misXStatistics': 0.00423393188469119},
  'r_squared': 0.8095004820146132,
  'adj_r_squared': 0.8028744118238171},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 24153,
 'zippedModelSizeBytes': 9227,
 's3Url': 'jasonjafariml/salaryRegModel2Fit__1.0.1.pkl.zip',
 'createdAt': '2025-06-11T14:07:16.781Z',
 'updatedAt': '2025-06-11T14:07:16.781Z'}

In [48]:
sallaryMisDf['misXGpa'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['GPA'], axis=1)

sallaryMisDf

     Salary   GPA  MIS  Statistics  misXStatistics  misXGpa
0        72  3.53    1           0             0.0     3.53
1        66  2.86    1           0             0.0     2.86
2        72  3.69    0           0             0.0     0.00
3        63  3.24    0           0             0.0     0.00
4        65  3.21    0           0             0.0     0.00
..      ...   ...  ...         ...             ...      ...
115      66  3.27    0           0             0.0     0.00
116      63  2.86    1           0             0.0     2.86
117      78  3.04    1           1             1.0     3.04
118      64  2.99    0           0             0.0     0.00
119      66  3.65    0           0             0.0     0.00

[120 rows x 6 columns]

In [49]:
def salaryRegModel3Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXGpa'] = df.apply(lambda row: row['MIS'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXGpa']],has_constant='add')
    return dfTransformer

In [50]:
salaryRegModel3Transformer(sallaryMisDf)

     const   GPA  MIS  Statistics  misXGpa
0      1.0  3.53    1           0     3.53
1      1.0  2.86    1           0     2.86
2      1.0  3.69    0           0     0.00
3      1.0  3.24    0           0     0.00
4      1.0  3.21    0           0     0.00
..     ...   ...  ...         ...      ...
115    1.0  3.27    0           0     0.00
116    1.0  2.86    1           0     2.86
117    1.0  3.04    1           1     3.04
118    1.0  2.99    0           0     0.00
119    1.0  3.65    0           0     0.00

[120 rows x 5 columns]

In [51]:
salaryRegModel3 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel3Transformer(sallaryMisDf)
)

In [52]:
salaryRegModel3Fit = salaryRegModel3.fit()

In [54]:
print(salaryRegModel3Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.788
Method:                 Least Squares   F-statistic:                     111.8
Date:                Wed, 11 Jun 2025   Prob (F-statistic):           1.11e-38
Time:                        10:08:33   Log-Likelihood:                -300.91
No. Observations:                 120   AIC:                             611.8
Df Residuals:                     115   BIC:                             625.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.1653      2.307     19.142      0.000      39.595      48.736
GPA            6.5737      0.709      9.278      0.000       5.170       7.977
MIS            6.1605      3.873      1.591      0.114      -1.511      13.832
Statistics     6.7350      0.594     11.330      0.000       5.558       7.912
misXGpa        0.1381      1.184      0.117      0.907      -2.206       2.483
==============================================================================
Omnibus:                        1.114   Durbin-Watson:                   2.167
Prob(Omnibus):                  0.573   Jarque-Bera (JB):                0.727
Skew:                          -0.167   Prob(JB):                        0.695
Kurtosis:                       3.185   Cond. No.                         57.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [55]:
salaryRegModel3Fit.transformer = salaryRegModel3Transformer
salaryRegModel3Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel3Fit)
registerAJrjModel(
    salaryRegModel3Fit,
    {
        "modelName":f"taoyu_ma__salaryRegModel3Fit",
        "version":"1.0.1",
        "params": salaryRegModel3Fit.params.to_dict(),
        "score": float(salaryRegModel3Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel3Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel3Fit.rsquared),
            "adj_r_squared": float(salaryRegModel3Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModel3Fit__1.0.1.pkl.zip

{'_id': '68498de2c6d739c7047baeec',
 'modelName': 'salaryRegModel3Fit',
 'version': '1.0.1',
 'params': {'const': 44.16532082606716,
  'GPA': 6.573741195731517,
  'MIS': 6.160519814179622,
  'Statistics': 6.734976129139481,
  'misXGpa': 0.1381303381596375},
 'score': 0.7954166374792891,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 1.4926987533688801e-37,
   'GPA': 1.2510679075808076e-15,
   'MIS': 0.11442853694090034,
   'Statistics': 1.928799919209308e-20,
   'misXGpa': 0.9073015272093103},
  'r_squared': 0.7954166374792891,
  'adj_r_squared': 0.7883006944350905},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 24142,
 'zippedModelSizeBytes': 9285,
 's3Url': 'jasonjafariml/salaryRegModel3Fit__1.0.1.pkl.zip',
 'createdAt': '2025-06-11T14:08:34.502Z',
 'updatedAt': '2025-06-11T14:08:34.502Z'}

In [56]:
sallaryMisDf['statisticsXGpa'] = sallaryMisDf.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)

sallaryMisDf

     Salary   GPA  MIS  Statistics  misXStatistics  misXGpa  statisticsXGpa
0        72  3.53    1           0             0.0     3.53            0.00
1        66  2.86    1           0             0.0     2.86            0.00
2        72  3.69    0           0             0.0     0.00            0.00
3        63  3.24    0           0             0.0     0.00            0.00
4        65  3.21    0           0             0.0     0.00            0.00
..      ...   ...  ...         ...             ...      ...             ...
115      66  3.27    0           0             0.0     0.00            0.00
116      63  2.86    1           0             0.0     2.86            0.00
117      78  3.04    1           1             1.0     3.04            3.04
118      64  2.99    0           0             0.0     0.00            0.00
119      66  3.65    0           0             0.0     0.00            0.00

[120 rows x 7 columns]

In [57]:
def salaryRegModel4Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['statisticsXGpa'] = df.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'statisticsXGpa']],has_constant='add')
    return dfTransformer

In [58]:
salaryRegModel4 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel4Transformer(sallaryMisDf)
)

In [59]:
salaryRegModel4Fit = salaryRegModel4.fit()

In [60]:
print(salaryRegModel4Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     116.9
Date:                Wed, 11 Jun 2025   Prob (F-statistic):           1.44e-39
Time:                        10:08:44   Log-Likelihood:                -298.78
No. Observations:                 120   AIC:                             607.6
Df Residuals:                     115   BIC:                             621.5
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             41.2856      2.267     18.215      0.000      36.796      45.775
GPA                7.4828      0.701     10.674      0.000       6.094       8.871
MIS                6.5400      0.588     11.118      0.000       5.375       7.705
Statistics        14.5988      3.891      3.752      0.000       6.892      22.306
statisticsXGpa    -2.3890      1.168     -2.045      0.043      -4.703      -0.075
==============================================================================
Omnibus:                        0.348   Durbin-Watson:                   2.118
Prob(Omnibus):                  0.840   Jarque-Bera (JB):                0.149
Skew:                          -0.079   Prob(JB):                        0.928
Kurtosis:                       3.068   Cond. No.                         59.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [61]:
salaryRegModel4Fit.transformer = salaryRegModel4Transformer
salaryRegModel4Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel4Fit)
registerAJrjModel(
    salaryRegModel4Fit,
    {
        "modelName":f"taoyu_ma__salaryRegModel4Fit",
        "version":"1.0.1",
        "params": salaryRegModel4Fit.params.to_dict(),
        "score": float(salaryRegModel4Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel4Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel4Fit.rsquared),
            "adj_r_squared": float(salaryRegModel4Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModel4Fit__1.0.1.pkl.zip

{'_id': '68498e15c6d739c7047baeed',
 'modelName': 'salaryRegModel4Fit',
 'version': '1.0.1',
 'params': {'const': 41.28560173035845,
  'GPA': 7.48278983439064,
  'MIS': 6.540027773861193,
  'Statistics': 14.598814781667048,
  'statisticsXGpa': -2.388952874805371},
 'score': 0.8025731076983917,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 1.1066906219868264e-35,
   'GPA': 6.696417260882898e-19,
   'MIS': 6.060691170759518e-20,
   'Statistics': 0.00027652830741481307,
   'statisticsXGpa': 0.0431204582314954},
  'r_squared': 0.8025731076983917,
  'adj_r_squared': 0.7957060853574662},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 24153,
 'zippedModelSizeBytes': 9301,
 's3Url': 'jasonjafariml/salaryRegModel4Fit__1.0.1.pkl.zip',
 'createdAt': '2025-06-11T14:09:25.881Z',
 'updatedAt': '2025-06-11T14:09:25.881Z'}

In [63]:
def salaryRegModel5Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXStatistics'] = df.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)
    df['misXGpa'] = df.apply(lambda row: row['MIS'] * row['GPA'], axis=1)
    df['statisticsXGpa'] = df.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)
    df['misXStatisticsXGpa'] = df.apply(lambda row: row['MIS'] * row['Statistics'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXStatistics', 'misXGpa', 'statisticsXGpa', 'misXStatisticsXGpa']],has_constant='add')
    return dfTransformer

In [64]:
salaryRegModel5 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel5Transformer(sallaryMisDf)
)

In [65]:
salaryRegModel5Fit = salaryRegModel5.fit()

In [68]:
print(salaryRegModel5Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.816
Model:                            OLS   Adj. R-squared:                  0.804
Method:                 Least Squares   F-statistic:                     70.92
Date:                Wed, 11 Jun 2025   Prob (F-statistic):           3.21e-38
Time:                        10:43:14   Log-Likelihood:                -294.58
No. Observations:                 120   AIC:                             605.2
Df Residuals:                     112   BIC:                             627.5
Df Model:                           7
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 41.1153      2.648     15.530      0.000      35.870      46.361
GPA                    7.6467      0.821      9.312      0.000       6.020       9.274
MIS                    7.1292      4.811      1.482      0.141      -2.404      16.662
Statistics            14.7168      5.027      2.927      0.004       4.756      24.678
misXStatistics        -1.7802      7.856     -0.227      0.821     -17.346      13.786
misXGpa               -0.5650      1.494     -0.378      0.706      -3.525       2.395
statisticsXGpa        -2.7609      1.493     -1.849      0.067      -5.720       0.198
misXStatisticsXGpa     1.5554      2.373      0.655      0.514      -3.147       6.257
==============================================================================
Omnibus:                        0.517   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.772   Jarque-Bera (JB):                0.243
Skew:                           0.092   Prob(JB):                        0.886
Kurtosis:                       3.121   Cond. No.                         143.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [69]:
salaryRegModel5Fit.transformer = salaryRegModel5Transformer
salaryRegModel5Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel5Fit)
registerAJrjModel(
    salaryRegModel5Fit,
    {
        "modelName":f"taoyu_ma__salaryRegModel5Fit",
        "version":"1.0.1",
        "params": salaryRegModel5Fit.params.to_dict(),
        "score": float(salaryRegModel5Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel5Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel5Fit.rsquared),
            "adj_r_squared": float(salaryRegModel5Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModel5Fit__1.0.1.pkl.zip
❌ Failed to generate URL or upload: E11000 duplicate key error collection: jrjModelRegistry.models index: modelName_1_version_1 dup key: { modelName: "salaryRegModel5Fit", version: "1.0.1" }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: jrjModelRegistry.models index: modelName_1_version_1 dup key: { modelName: "salaryRegModel5Fit", version: "1.0.1" }', 'keyPattern': {'modelName': 1, 'version': 1}, 'keyValue': {'modelName': 'salaryRegModel5Fit', 'version': '1.0.1'}}

## AFTER AREFULLY LOOKUP WE RELIZED  salaryRegModel2Fit SO LETS KEEP IT AS THE BEST

In [70]:
compareDf = pd.read_csv('./salaryRegModelsComparison.csv')

In [71]:
compareDf

,Models,salaryRegModel1Fit,salaryRegModel2Fit,salaryRegModel3Fit,salaryRegModel4Fit,salaryRegModel5Fit
0,Comments,Linear,non linear with MIS * STAT,non linear with MIS * GPA,non linear with Stat * GPA,non linear with all
1,Intercept,44.0072 0.0,44.0993 0.0,44.165 0.0,41.285 0.0,41.115 0.0
2,GPA,6.6227 0.0,6.71 0.0,6.5737 0.0,7.482 0.0,7.6467 0.0
3,MIS,6.6071 0.0,5.325 0.0,6.160 0.114 *,6.54 0.0,7.1292 0.141*
4,Statistics,6.73 0.0,5.535 0.0,6.735 0.0,14.5988 0.0,14.7168 0.004
5,MIS * Statistics,x,3.491 0.004,x,x,-1.7802 0.821 *
6,MIS * GPA,x,x,0.1381 0.907 *,x,-0.565 0.706 *
7,Statistics * GPA,x,x,x,-2.389 0.043,-2.76 0.067 *
8,MIS * Statistics * GPA,x,x,x,x,1.555 0.514 *
9,NaN,NaN,NaN,NaN,NaN,NaN
10,R2,0.795,0.81 - BEST,0.795,0.803,0.816

In [72]:
registerAJrjModel(
    salaryRegModel2Fit,
    {
        "modelName":f"taoyu_ma__salaryRegModelBEST",
        "version":"1.0.1",
        "params": salaryRegModel2Fit.params.to_dict(),
        "score": float(salaryRegModel2Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel2Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel2Fit.rsquared),
            "adj_r_squared": float(salaryRegModel2Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

✅ Uploaded encrypted ZIP to s3://jasonjafariml/salaryRegModelBEST__1.0.1.pkl.zip

{'_id': '6849962fc6d739c7047baef0',
 'modelName': 'salaryRegModelBEST',
 'version': '1.0.1',
 'params': {'const': 44.09932687151595,
  'GPA': 6.71092896850212,
  'MIS': 5.325020933077331,
  'Statistics': 5.534983950443611,
  'misXStatistics': 3.491456565315527},
 'score': 0.8095004820146132,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 2.1308984053354338e-47,
   'GPA': 2.206820882598934e-22,
   'MIS': 3.224529718282964e-11,
   'Statistics': 2.2590353916504234e-12,
   'misXStatistics': 0.00423393188469119},
  'r_squared': 0.8095004820146132,
  'adj_r_squared': 0.8028744118238171},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 24153,
 'zippedModelSizeBytes': 9227,
 's3Url': 'jasonjafariml/salaryRegModelBEST__1.0.1.pkl.zip',
 'createdAt': '2025-06-11T14:43:59.221Z',
 'updatedAt': '2025-06-11T14:43:59.221Z'}